{% extends "src/templates/base.j2" %}

{% block title %}À propos{% endblock %}
{% block about_is_active %}is-active{% endblock %}

{% block content %}
    <p>En cette fin d'année incertaine, et pour conjurer le mauvais sort, Serendip Lab vous offre un beau cadeau de Noël !</p><br>
    <p>Le festival n’aura malheureusement pas pu fêter son dixième anniversaire. Mais qu'à cela ne tienne, un projet de compilation regroupant tous les artistes ayant joué depuis 2010 a été lancé et bonne surprise : celle-ci regroupe plus de 90 morceaux, d’un éclectisme reflétant bien le festival / label ainsi que son évolution.</p><br>
    <p>De la musique mécanique de Pierre Bastien, présent dès la première année, à la musique cyberpunk de KK NULL, dont la cassette est notre dernière sortie, des scènes et styles divers et variés sont ainsi représentés : rock psychédélique,post punk, musique improvisée, concrète ou industrielle, synthwave, IDM, rave, noise, rap, électro… Venus des quatre coins de la France (Lyon, Marseille, Bordeaux, Rennes, Lille, Paris...), de l'Europe (Suède, Danemark, Angleterre, Allemagne, Pays-Bas, Italie), ou du monde (USA, Australie, Indonésie, Japon), pionniers et jeune garde se croisent, comme d’habitude, dans une fête gigantesque et généreuse, telle une famille de mutants dadaïstes.</p><br>
    <p>Aussi, un grand merci aux centaines d'artistes ayant participé à cette aventure depuis toutes ces belles années, aux amis et aux bénévoles, beaucoup d'amour pour les artistes ayant participé à cette compilation, et encore plus à Patrice Curtillat pour le mastering, et à Jean Turner pour l’illustration, enfin, un torrent d'amour pour vous tous, en espérant qu’on se retrouve très vite, meilleurs voeux !</p><br>

<hr>

    <p>In this strange year's ending, and to ward off the curse, Serendip Lab offers you a nice Christmas gift !</p><br>
    <p>Unfortunately for his 10th birthday the festival did not happen this year. Nevermind, a compilation project with all invited artists since 2010 was born and what a good surprise people did answer the call : more than 90 tracks, reflecting the festival / label eclecticism and its evolution.</p><br>
    <p>From Pierre Bastien's mechanical music, present for the first year, to KK NULL's cyberpunk, whose cassette was our last release, very diverse scenes and styles are represented : psychedelic rock, post punk, improvised, concrete, industrial or rave music, synthwave, IDM, noise, rap, électro… Coming from all around France (Lyon, Marseille, Bordeaux, Rennes, Lille...), Europe (Suede, Denmark, UK, Germany, Netherlands, Italy), or the world (USA, Australia, Indonesia, Japan), pioneers or new comers are mixed, as usual, in a huge and generous party, like a big dadaist mutant family.</p><br>
    <p>So thanks a lot to the hundreds of artists who have participate to the adventure since all these amazing years, to the friends, volunteers, a lot of love to the artists in this compilation, and even more to Patrice Curtillat for the mastering, and Jean Turner for the artwork, and at last a stream of love to you all, hope to meet you soon, best wishes !</p>
{% endblock %}
