<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}{% endblock %} | Serendip Lab 10 ans (SER011)</title>

        <link rel="stylesheet" href="vendor/fontawesome/all.min.css">
        <link rel="stylesheet" href="vendor/tinyplayer/tinyplayer.css">
        <link rel="stylesheet" href="vendor/bulma/bulma.min.css">
        <style>
.footer { background-color: #fff; }
        </style>
    </head>

    <body>
        <section class="hero center">
            <div class="container">
                    <div class="hero-body">
                        <p class="title">Serendip Lab : 10 ans !</p>
                    </div>
            </div>
        </section>

        <section>
        <div class="container">
            <div class="tabs is-centered">
                <ul>
                    <li class="{% block about_is_active %}{% endblock %}"><a href="about.html">À propos</a></li>
                    <li class="{% block compilation_is_active %}{% endblock %}"><a href="compilation.html">Compilation</a></li>
                    <li class="{% block images_is_active %}{% endblock %}"><a href="images.html">Images</a></li>
                    <li class="{% block videos_is_active %}{% endblock %}"><a href="videos.html">Vidéos</a></li>
                  </ul>
            </div>

{% block content %}
{% endblock %}

        </div>
        </section>

        <section>
            <div class="container footer has-text-centered">
                <hr>
                <a href="https://serendip-lab.net">contact</a>
            </div>
        </section>

        <script src="vendor/jquery/jquery-3.6.0.slim.min.js"></script>
        <script src="vendor/howler/howler.core.min.js"></script>
        <script src="vendor/tinyplayer/tinyplayer.js"></script>
    </body>
</html>
